<h1>{{title}}</h1>
<p>Delete {{product.name}}</p>
<p>Do you really want to delete <strong>{{product.name}}</strong> from the inventory?</p>
<form method="post">
    <input type="hidden" name="productid" required="true" value={{product.id}}>
    <button type="submit">Delete</button>
</form>